<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
</head>

<body>
    {{>header}}
    <p>{{welcomeMessage}}</p>
    <p>Wonder what will happen if you click on the button
        <b>
            <a href="/about">About</a> </b>
    </p>
    {{> footer}}
</body>

</html>